﻿@model WebApplication.Models.Employee

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.HourlyPay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Bonus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Employee_Type.EmployeeType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        </td>
    </tr>
