﻿
@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>Birla Institute of Technology</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Birla Institute of Technology</h2>
        <p>
            For over six decades, BIT Mesra (located 16 kms  from  Ranchi, theJharkhand state-capital) has been engaged in nurturing
            minds through a rich heritage of academic excellence. Essentially a hub of bustling student activities, the beautiful campus has been a second-home to thousands of students in their journey to challenge the times.

            Established in 1955 by visionary-industrialist Mr. B.M. Birla, it is today one of the most premier engineering destinations in India.
        </p>
    </div>
    <div class="col-md-4">
        <h2> Fast Facts</h2>
        <ul>
            <li> Established in 1955 by Mr. B M Birla.A premier technical institute and deemed University.</li>
            <li> Main Campus Size - 780 acres</li>
            <li> Total number of registered students across all centres - more than 10,000.Doctoral students - 150</li>
            <li> Programmes offered - Undergraduate, Post- graduate, Doctoral</li>
            <li> Graduate degrees awarded - over 18,000</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>For further information</h2>
        <p>You can refer this website</p>
        <p><a class="btn btn-default" href="https://www.bitmesra.ac.in/Know_About_The_Organization?cid=1&pid=AB">www.bitmesra.ac.in &raquo;</a></p>
    </div>

</div>

