﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    BIT Mesra Campus<br />
    Birla Institute of Technology, Mesra<br />
    Ranchi, Jharkhand 835215<br />
    <abbr title="Phone">PABX:</abbr>
    +91 651 2275444/2275896<br />
    <abbr title="Fax">Fax:</abbr>
    0651 2275401
</address>

<address>
    <strong>Marketing:</strong> <a href="mailto:surbhiani94@gmail.com">surbhiani94@gmail.com</a>
</address>
