﻿@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script src="~/Scripts/js/CourseDetails.js"></script>
}

<div ng-controller="CourseController" ng-init="ShowDetails=false">
    <button ng-click="ShowCourses()">Show Courses</button><br /> <br />
    <div ng-show="ShowDetails">
        <label>Search: <input ng-model="searchKey" /></label><br /> <br />
        <table>
            <tr>
                <th> <a href="javascript:void(0);" ng-click="SortCourses('Id')">Course Id</a></th>
                <th> <a href="javascript:void(0);" ng-click="SortCourses('Title')">Title</a></th>
                <th> <a href="javascript:void(0);" ng-click="SortCourses('Credit')">Credit</a></th>
                <th> <a href="javascript:void(0);" ng-click="SortCourses('Duration')">Duration</a></th>
                <th> <a href="javascript:void(0);" ng-click="SortCourses('Department')">Department</a></th>
            </tr>
            <tr ng-repeat="Course in Courses|filter:searchKey|orderBy:CourseOrderBy:SortReverse">
                <td ng-bind="Course.CourseId">{{Course.Id}}</td>
                <td>{{Course.Title}}</td>
                <td>{{Course.Credit}}</td>
                <td>{{Course.Duration}}</td>
                <td>{{Course.Department}}</td>
            </tr>
        </table>
    </div>
</div>